OPENAI_API_KEY='your-key-here'
NAO_IP="press-nao-chest"
NAO_PORT=9559
DAEMON_PORT=5005

# leave blank to use system default microphone
MICROPHONE_INDEX=

# leave blank to use system default webcam
WEBCAM_INDEX=

# NAO_CAMERA_INDEX: default camera on physical robot (0 = top/eyes, 1 = bottom/desk)
NAO_CAMERA_INDEX=0
